:root { 
--cyan_A400:#00d8ff; 
--blue_A700:#2965f1; 
--red_800:#cd201f; 
--light_blue_500:#00adef; 
--red_500:#f03c2e; 
--light_blue_400:#31c5f0; 
--red_400:#f35045; 
--amber_A200:#ffd242; 
--amber_A400:#ffc600; 
--green_A400:#0acf83; 
--black_900:#000000; 
--deep_orange_700:#e44d26; 
--deep_orange_600:#f24e1e; 
--light_green_600:#80cc28; 
--deep_orange_300:#ff7262; 
--blue_gray_800:#353564; 
--gray_200_01:#ebebeb; 
--deep_orange_500:#f16529; 
--deep_purple_A200:#a259ff; 
--gray_900_02:#001d26; 
--gray_900_03:#261300; 
--blue_gray_100:#cccccc; 
--deep_orange_600_01:#f1511b; 
--amber_400:#ffc91d; 
--amber_500:#fbbc09; 
--indigo_50:#e9e9ff; 
--gray_900:#141414; 
--gray_900_01:#290132; 
--orange_700:#ff7c00; 
--gray_200:#efeeea; 
--gray_100:#f7f7f4; 
--indigo_200:#afafde; 
--indigo_600_01:#2f6491; 
--indigo_A700:#264de4; 
--white_A700:#ffffff; 
--indigo_500:#3775a9; 
--indigo_600:#485a96; 
--light_blue_400_01:#1abcfe; 
}